body {
    font-family: Arial, sans-serif;
    background-color: #f7f1e1;
    color: #5f4b3a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    height: 100vh;
    margin: 0;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  h3 {
    color: #8e7c60;
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;    
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;    
  }
  
  form.formulario_main {
    background-color: transparent;
    overflow: visible;
  }
  
  input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea {
    background-color: #e0d3b0;
    border: 1px solid #8e7c60;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #c49a6c;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #a68656;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  li {
    margin-bottom: 5px;
    padding: 6px 12px;
    background-color: #e0d3b0;
    border-radius: 5px;
    width: auto;
    text-align: center;
  }
  
  section p {
    color: #5f4b3a;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.6;
  }
  